# ~/ha_config/configuration.yaml 

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

rest_command:
  log_hydration:
    url: 'http://127.0.0.1:5001/log_hydration'
    method: 'POST'
    content_type: 'application/json'
